<a href="https://colab.research.google.com/github/sanskritiii18/Report_card_pdf_generator/blob/main/Report_Cards_from_Excel_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
try:
  df = pd.read_excel('/student_scores (1).xlsx')
except FileNotFoundError as e:
    print(e)
except Exception as e:
    print(f"An error occurred: {e}")

In [6]:
print(df)

   Student ID         Name  Subject  Score
0           1     John Doe     Math     88
1           2   Jane Smith     Math     92
2           3  Emily Davis     Math     85
3           1     John Doe  Science     90
4           2   Jane Smith  Science     89
5           3  Emily Davis  Science     84
6           1     John Doe  English     78
7           2   Jane Smith  English     95
8           3  Emily Davis  English     91

In [7]:
grouped_data = df.groupby('Name')['Score'].agg(total_score='sum', average_score='mean').reset_index()

In [8]:
print(grouped_data)

          Name  total_score  average_score
0  Emily Davis          260      86.666667
1   Jane Smith          276      92.000000
2     John Doe          256      85.333333

In [9]:
required_columns = ['Name', 'Subject', 'Score']
missing_columns = [col for col in required_columns if col not in df.columns]

In [10]:
if missing_columns:
        raise KeyError(f"The following columns are missing: {', '.join(missing_columns)}")

In [11]:
!pip install reportlab

Collecting reportlab
  Downloading reportlab-4.2.5-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: pillow>=9.0.0 in /usr/local/lib/python3.11/dist-packages (from reportlab) (11.1.0)
Requirement already satisfied: chardet in /usr/local/lib/python3.11/dist-packages (from reportlab) (5.2.0)
Downloading reportlab-4.2.5-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 9.7 MB/s eta 0:00:00
Installing collected packages: reportlab
Successfully installed reportlab-4.2.5

In [12]:
from reportlab.lib.pagesizes import letter
from reportlab.lib import colors
from reportlab.pdfgen import canvas

In [14]:
def generate_report_card(student_name, total_score, average_score, subject_scores):
    pdf_filename = f"/content/report_card_{student_name}.pdf"
    c = canvas.Canvas(pdf_filename, pagesize=letter)

    c.setFont("Helvetica-Bold", 18)
    c.drawString(200, 750, f"Report Card for {student_name}")
    c.setFont("Helvetica", 12)
    c.drawString(50, 700, f"Total Score: {total_score}")
    c.drawString(50, 680, f"Average Score: {average_score:.2f}")
    c.setFont("Helvetica-Bold", 12)
    c.drawString(50, 620, "Subject-wise Scores:")
    c.setFont("Helvetica", 10)
    c.drawString(50, 600, "Subject")
    c.drawString(200, 600, "Score")
    y_position = 580
    for subject, score in subject_scores:
        c.drawString(50, y_position, subject)
        c.drawString(200, y_position, str(score))
        y_position -= 20

    c.save()

for _, row in grouped_data.iterrows():
    student_name = row['Name']
    total_score = row['total_score']
    average_score = row['average_score']


    subject_scores = df[df['Name'] == student_name][['Subject', 'Score']].values.tolist()
    generate_report_card(student_name, total_score, average_score, subject_scores)

    print(f"Generated report card for {student_name}")

Generated report card for Emily Davis
Generated report card for Jane Smith
Generated report card for John Doe

In [ ]:
from google.colab import drive
drive.mount('/content/drive')